
            td {
                border: 1px solid black;
                text-align: center;
                width:20%
               
               
                
               
            }
            
  
            tr:nth-child(even) {
                background-color: #f7e7ce;
                text-align: center;
                width:30%;
                
               
            }
  
          tr:nth-child(odd) {
                 background-color: #f8ca73;
                 text-align: center;
                 width:30%;
            }
            center{
             
             font-size:150%;
             color: #212529;
            }
            input{
            font-size:100%;
            }
           
  
  
        .header {
            text-align: center;
            font-weight: bolder;
            background-color: #e2ece2;
            color: #3b1edc;
            
        }
        