<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebCuoiKy</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DangNhapController</display-name>
    <servlet-name>DangNhapController</servlet-name>
    <servlet-class>servlet.DangNhapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapController</servlet-name>
    <url-pattern>/DangNhapController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKyController</display-name>
    <servlet-name>DangKyController</servlet-name>
    <servlet-class>servlet.DangKyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyController</servlet-name>
    <url-pattern>/DangKyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHangController</display-name>
    <servlet-name>GioHangController</servlet-name>
    <servlet-class>servlet.GioHangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHangController</servlet-name>
    <url-pattern>/GioHangController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaNhanController</display-name>
    <servlet-name>CaNhanController</servlet-name>
    <servlet-class>servlet.CaNhanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaNhanController</servlet-name>
    <url-pattern>/CaNhanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhoaHocController</display-name>
    <servlet-name>KhoaHocController</servlet-name>
    <servlet-class>servlet.KhoaHocController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhoaHocController</servlet-name>
    <url-pattern>/KhoaHocController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietKhoaHocController</display-name>
    <servlet-name>ChiTietKhoaHocController</servlet-name>
    <servlet-class>servlet.ChiTietKhoaHocController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietKhoaHocController</servlet-name>
    <url-pattern>/ChiTietKhoaHocController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapRequest</display-name>
    <servlet-name>DangNhapRequest</servlet-name>
    <servlet-class>servlet.DangNhapControl.DangNhapRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapRequest</servlet-name>
    <url-pattern>/DangNhapRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>servlet.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLKHController</display-name>
    <servlet-name>QLKHController</servlet-name>
    <servlet-class>servlet.AdminControl.QLKHController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLKHController</servlet-name>
    <url-pattern>/QLKHController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLGVController</display-name>
    <servlet-name>QLGVController</servlet-name>
    <servlet-class>servlet.AdminControl.QLGVController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLGVController</servlet-name>
    <url-pattern>/QLGVController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TKKHController</display-name>
    <servlet-name>TKKHController</servlet-name>
    <servlet-class>servlet.AdminControl.TKKHController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TKKHController</servlet-name>
    <url-pattern>/TKKHController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGiaoVienController</display-name>
    <servlet-name>AddGiaoVienController</servlet-name>
    <servlet-class>servlet.AdminControl.AddGiaoVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGiaoVienController</servlet-name>
    <url-pattern>/AddGiaoVienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddKhoaHocController</display-name>
    <servlet-name>AddKhoaHocController</servlet-name>
    <servlet-class>servlet.AdminControl.AddKhoaHocController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKhoaHocController</servlet-name>
    <url-pattern>/AddKhoaHocController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatController</display-name>
    <servlet-name>DangXuatController</servlet-name>
    <servlet-class>servlet.DangNhapControl.DangXuatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatController</servlet-name>
    <url-pattern>/DangXuatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemToCart</display-name>
    <servlet-name>AddItemToCart</servlet-name>
    <servlet-class>servlet.CartController.AddItemToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemToCart</servlet-name>
    <url-pattern>/AddItemToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToanController</display-name>
    <servlet-name>ThanhToanController</servlet-name>
    <servlet-class>servlet.ThanhToanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToanController</servlet-name>
    <url-pattern>/ThanhToanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LessionController</display-name>
    <servlet-name>LessionController</servlet-name>
    <servlet-class>servlet.TeacherController.LessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessionController</servlet-name>
    <url-pattern>/LessionController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>donthandochai123@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>lpwtolmjqgbhqsok</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FeedBackController</display-name>
    <servlet-name>FeedBackController</servlet-name>
    <servlet-class>servlet.CourseControl.FeedBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBackController</servlet-name>
    <url-pattern>/FeedBackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LessonDetailController</display-name>
    <servlet-name>LessonDetailController</servlet-name>
    <servlet-class>servlet.CourseControl.LessonDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonDetailController</servlet-name>
    <url-pattern>/LessonDetailController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AccountFilter</display-name>
    <filter-name>AccountFilter</filter-name>
    <filter-class>filter.AccountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccountFilter</filter-name>
    <url-pattern>/AccountFilter</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>securedapp</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <filter>
    <display-name>HocVienFilter</display-name>
    <filter-name>HocVienFilter</filter-name>
    <filter-class>filter.HocVienFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HocVienFilter</filter-name>
    <url-pattern>/HocVienFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GiaoVienFilter</display-name>
    <filter-name>GiaoVienFilter</filter-name>
    <filter-class>filter.GiaoVienFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GiaoVienFilter</filter-name>
    <url-pattern>/GiaoVienFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>QTVFilter</display-name>
    <filter-name>QTVFilter</filter-name>
    <filter-class>filter.QTVFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>QTVFilter</filter-name>
    <url-pattern>/QTVFilter</url-pattern>
  </filter-mapping>
</web-app>